<div class="container">
  <div class="row">

    <div class="well">
      <h1>Editar Tienda</h1>

<%= render 'form', tienda_artesanium: @tienda_artesanium %>

<%= link_to 'Ver', @tienda_artesanium, :class=>'btn btn-info btn-block' %>
<%= link_to 'Regresar', tienda_artesania_path, :class=>'btn btn-info btn-block' %>

    </div>

  </div>

</div>