<div class="container">
  <div class="row">

      <div class="well">
  <h1>Nueva Tienda de Artesanías</h1>

      <%= render 'form', tienda_artesanium: @tienda_artesanium %>

    <%= link_to 'Regresar', tienda_artesania_path, :class=>'btn btn-info btn-block' %>

      </div>


  </div>
</div>
