
<div align="center">
  <ul class="nav navbar-nav">
  <li><a href="<%= contactouno_path %>">Restaurantes <span class="glyphicon glyphicon-briefcase" style="color:black"></span></a></li>
  <li><a href="<%= contactodos_path %>">Tiendas de Artesanias <span class="glyphicon glyphicon-tower" style="color:red"></span></a></li>
  <li><a href="<%= contactotres_path %>">Ejemplo anterior <span class="glyphicon glyphicon-lock" style="color:blue"></span></a></li>
  </ul>
</div>
<br>
<br>
<div  class="col-md-5">
<div class="thumbnail">
<%= image_tag '64.png', :style =>'width:200px' %></a>
  Descarga este marcador en tu celular para poder ver el tutorial de la página.
  </div ></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>