<meta name="viewport" content="width=device-width, initial-scale=1" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<style type="text/css">
  /* Set a size for our map container, the Google Map will take up 100% of this container */
  #map {
    width: 620px;
    height: 420px;
  }
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnC-d0W6Z0oVxxvgxYgEW86bXVhWuwnZU"></script>

<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 16,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(21.1589522,-100.9404646), // TIENDA DE NUESTRO CLIENTE

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [
                {
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [
                        {
                            "hue": "#ff0000"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": -30
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#353535"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#656565"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#505050"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#808080"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#454545"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "hue": "#000000"
                        },
                        {
                            "saturation": 100
                        },
                        {
                            "lightness": -40
                        },
                        {
                            "invert_lightness": true
                        },
                        {
                            "gamma": 1.5
                        }
                    ]
                }
            ]};


        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var popup = new google.maps.InfoWindow
        content: 'ejemplo'

        var image = 'https://s26.postimg.org/hjdbbi93t/mall.png'
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(21.1575619,-100.9333348),
            map: map,
            title: 'Artesanias Petunia Calle Guanajuato 4',
            icon: image
        })

        var image = 'https://s26.postimg.org/7enudf5ax/supermarket.png'
        var marker002 = new google.maps.Marker({

            position: new google.maps.LatLng(21.1579571,-100.9337558),
            map: map,
            title: 'Plaza Estacionamiento Calle Queretaro 5',
            icon: image

        })


        var image = 'https://s26.postimg.org/axi7srzq1/artgallery.png'
        var marker003 = new google.maps.Marker({
            position: new google.maps.LatLng(21.1522946,-100.9384698),
            map: map,
            title: 'Ceramex Av sur 25',
            icon: image
        })

        var image = 'https://s26.postimg.org/hjdbbi93t/mall.png'
        var marker004 = new google.maps.Marker({
            position: new google.maps.LatLng(21.1543388,-100.9361693),
            map: map,
            title: 'Artesanias Castillo',
            icon: image
        })


        var image = 'https://s26.postimg.org/axi7srzq1/artgallery.png'
        var marker005 = new google.maps.Marker({
            position: new google.maps.LatLng(21.1578724,-100.9337961),
            map: map,
            title: 'Artilugios 01 418 182 2300, Calle Queretaro 3',
            icon: image
        })


        var marker006 = new google.maps.Marker({
            position: new google.maps.LatLng(21.158495, -100.934708),
            map: map,
            title: 'Mercado de Artesanias  San Luis Potosí 3 1822300',
            icon: image
        })


        var marker007 = new google.maps.Marker({
            position: new google.maps.LatLng(21.158055, -100.933637),
            map: map,
            title: 'Centro Artesanal Dolores Hidalgo Calle Queretaro 4',
            icon: image
        })


        var marker008 = new google.maps.Marker({
            position: new google.maps.LatLng(21.157435, -100.932748),
            map: map,
            title: 'Casa Museo Jose Alfredo Jimenez Calle Guanajuato 13',
            icon: image
        })


        var marker009 = new google.maps.Marker({
            position: new google.maps.LatLng(21.1579571,-100.9337558),
            map: map,
            title: 'Plaza Estacionamiento',
            icon: image
        })


        var marker010 = new google.maps.Marker({
            position: new google.maps.LatLng(21.159364, -100.940197),
            map: map,
            title: 'Tierra de Artesanias Calle Michoacan 60',
            icon: image
        })


        var marker011 = new google.maps.Marker({
            position: new google.maps.LatLng(21.159866, -100.940270),
            map: map,
            title: 'Artesanias Hernandez Calle San Luis de la Paz S/n',
            icon: image
        })


        var marker012 = new google.maps.Marker({
            position: new google.maps.LatLng(21.158679, -100.940788),
            map: map,
            title: 'Artilugios Segunda Sucursal Calle Jose Alfredo 4',
            icon: image
        })


        var marker013 = new google.maps.Marker({
            position: new google.maps.LatLng(21.157637, -100.941318),
            map: map,
            title: 'Artesanias Camarillo Calle Jose Alfredo 98 ',
            icon: image
        })


        var marker014 = new google.maps.Marker({
            position: new google.maps.LatLng(21.157581, -100.940874),
            map: map,
            title: 'Ceramica Maria Dolores José Alfredo Jiménez 37B ',
            icon: image
        })


        var marker015 = new google.maps.Marker({
                position: new google.maps.LatLng(21.153637, -100.941465),
                map: map,
                title: 'Mercado Artesanal Mar Tlaxcala 57',
                icon: image
            })

        ;
    }
</script>
<script async defer
        src="http://www.facekala.com/images/com_hikashop/upload/thumbnails/150x150/shop-icon1.png">
</script>

<div  class="col-md-3"></div>
<div  class="thumbnail" id="map", style ="width: 100%; height: 420px;"></div>
<div class="thumbnail">Ubicación del negocio principal.</div>
</br></br>
<div  class="col-md-15" align="center">
  <a href="<%= contacto_path %>"><input type="button" value="Regresar" class="btn btn-danger"/></a></div>
</br></br>



</body>