<div class="row">
<div class="col-md-3">
  <div class="thumbnail", style="margin-top:10px; margin-bottom:10px ">
    <%= image_tag "/assets/1.jpg" %>
    <small>Sector: Artesanías
      Dirección: Nueve de octubre # 03 Ejido Jesús María CP.37800
      Ciudad: Dolores Hidalgo
      Teléfonos: Tel. 418 118 19 59 / 418 118 19 49 Cel. 418 113 37 26
      Productos: Artesanía de Barro
      Manifestación: Alfarería y Cerámica
      </small>
    </div>
  </div>
<div class="col-md-3">
  <div class="thumbnail", style="margin-top:10px; margin-bottom:10px ">
    <%= image_tag "/assets/2.jpg", width: 1000, height: 500%>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail", style="margin-top:10px; margin-bottom:10px ">
    <%= image_tag "/assets/3.jpg", width: 1000, height: 500%>
  </div>
</div>
<div class="col-md-3">
  <div class="thumbnail", style="margin-top:10px; margin-bottom:10px ">
    <%= image_tag "/assets/4.jpg", width: 1000, height: 500%>
  </div>
</div>

</div>
