<div class="container">
  <div class="row">

      <div class="well">
        <h1>Editar Orden</h1>

<%= render 'form', order: @order %>

<%= link_to 'Ver', @order, :class=>'btn btn-info btn-block' %>
<%= link_to 'Regresar', orders_path, :class=>'btn btn-info btn-block' %>

      </div>

    </div>

</div>