<div class="container">
  <h1>Nueva artesanía</h1>
  <div class="col-md-6">
    <div  class="row">
      <%= render 'form', artesanium: @artesanium %>
    </div>

    <%= link_to 'Back', artesania_path %>
  </div>
</div>
