<div class="container">

      <div class="well">
<h2 align="center">Tu carrito</h2>
<table class="table">
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>
<%= button_to 'Ordenar', new_order_path, method: :get, :class=>'btn btn-info btn-block' %>
        <br>
<%= button_to 'Vaciar carrito', cart, method: :delete,
              data: { confirm: 'Seguro?' }, :class=>'btn btn-info btn-block' %>
      </div>



</div>