<div class="container">
  <div class="row">

      <div class="well">
  <h1>Nueva Receta</h1>

      <%= render 'form', recetum: @recetum %>


    <%= link_to 'Regresar', receta_path, :class=>'btn btn-info btn-block' %>

      </div>


  </div>
</div>

